<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Agenda To Do: <b>Tarefas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


<!-- Scrollable Segment -->
<ion-segment scrollable value="heart">
  <ion-segment-button value="home">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="heart">
    <ion-icon name="heart"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-icon name="pin"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="star">
    <ion-icon name="star"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="call">
    <ion-icon name="call"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="globe">
    <ion-icon name="globe"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="basket">
    <ion-icon name="basket"></ion-icon>
  </ion-segment-button>
</ion-segment>


  <!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding *ngFor="let todo of todoService.getTodos(); let i = index">
    <ion-item>
      <ion-label>{{todo.value}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="todo.done"></ion-checkbox>
      <ion-badge color="warning" *ngIf="todo.date.getDate()">
        {{todo.date.getDate() + "/" + (todo.date.getMonth() + 1) + "/" + (todo.date.getFullYear())}}

      </ion-badge>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color = "success" (click)="presentAlertPromptUpdate(i, todo)">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>  
      </ion-item-option>
        <ion-item-option color = "danger" (click)="presentAlertPromptDelete(i)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>  
        </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentAlertPromptAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
