<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Agenda To Do: <b>Tarefas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


  
<ion-segment [(ngModel)]="type">
  <ion-segment-button value="pending" layout="icon-start">
    <ion-icon name="alert-circle"></ion-icon>
    <ion-label>Pendentes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="done" layout="icon-start">
    <ion-icon name="heart"></ion-icon>
    <ion-label>Concluídas</ion-label>
  </ion-segment-button>
</ion-segment>


  <!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding *ngFor="let todo of todoService.getTodos(); let i = index">
    <ion-item>
      <ion-label>{{todo.value}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="todo.done"></ion-checkbox>
      <ion-badge color="warning" *ngIf="todo.date.getDate()">
        {{todo.date.getDate() + "/" + (todo.date.getMonth() + 1) + "/" + (todo.date.getFullYear())}}

      </ion-badge>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color = "success" (click)="presentAlertPromptUpdate(i, todo)">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>  
      </ion-item-option>
        <ion-item-option color = "danger" (click)="presentAlertPromptDelete(i)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>  
        </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentAlertPromptAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
